/* Resetando estilos globais */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    outline: none;
}

/* Estilo do corpo da página */
body {
    background-color: #051728;
    color: #e3dbdb;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    margin: 0;
    overflow-x: hidden;
}

/* Container principal */
.container {
    background-color: #123456;
    border-radius: 15px;
    padding: 40px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow: hidden;
}

/* Formulários */
.birthday-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.birthday-form h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    font-size: 1rem;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #d1d0d0;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #123456;
    box-shadow: 0 0 0 3px rgba(18, 52, 86, 0.2);
}

textarea {
    resize: none;
    height: 100px;
}

/* Botões */
.button-group, .action-buttons {
    display: flex;
    gap: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3dbdb;
    color: #051728;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button ion-icon {
    margin-right: 10px;
}

button:hover {
    background-color: #0b2950;
    color: #e3dbdb;
}

.btn-delete {
    background-color: #890000;
    color: #ffffff;
}

.btn-delete:hover {
    background-color: #650000;
}

/* Lista de aniversariantes */
.birthday-list {
    margin-top: 30px;
}

.birthday-item {
    background-color: #051728;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.birthday-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-wrapper img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.birthday-info {
    flex: 1;
    margin-left: 20px;
}

.birthday-info p {
    margin-bottom: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    .birthday-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-wrapper {
        margin-bottom: 15px;
    }

    .container {
        padding: 20px;
    }
}
