/* Resetando estilos globais */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    outline: none;
}

/* Header - Barra de navegação */
header {
    background-color: #1E2A38;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    z-index: 1000;
    height: 80px; /* Defina a altura do header */
}

.navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar .logo h2 {
    color: #FFF;
    margin: 0;
    font-size: 24px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-size: 18px;
    color: #FFF;
}

/* Ajuste do botão 'Novo Aniversariante' */
.new {
    background-color: #ffffff;
    color: #000;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
    margin-bottom: 20px;
}

.new:hover {
    background-color: #aaa;
}

/* Estilo do corpo da página */
body {
    background-color: #051728;
    color: #e3dbdb;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px; /* O mesmo valor da altura do header */
    padding: 100px;
    margin: 0;
    overflow-x: hidden;
}

.novo {
    background-color: #051728;
    border-radius: 15px;
    padding: 40px;
    max-width: 1000px;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    display: none;
    margin-bottom: 35px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    visibility: visible;
}

.novo.show {
    opacity: 1;
    transform: translateY(0);
}

/* Container principal */
.container {
    background-color: #123456;
    border-radius: 15px;
    padding: 40px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: auto;
    overflow: hidden;
    margin-bottom: 15px;
    min-width: 650px;
}

.container > p {
    text-align: center;
    margin: 20px 0 30px 0;
}

#images {
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

figure {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    display: block;
}

figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}

/* Formulários */
.birthday-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 8px;
    font-size: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    font-size: 1rem;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #d1d0d0;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

input[type="file"] {
    display: none;
}

.container > label {
    display: block;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    font-size: 18px;
    text-align: center;
    width: 300px;
    padding: 18px 0;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.container > label:hover {
    background-color: #aaaaaa;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #123456;
    box-shadow: 0 0 0 3px rgba(18, 52, 86, 0.2);
}

textarea {
    resize: none;
    height: 100px;
}

/* Botões */
.button-group, .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.action-buttons > div {
    flex: 1;
}

.action-buttons button {
    width: 100px;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-edit {
    background-color: #ffffff;
    color: #051728;
}

.btn-delete {
    background-color: #890000;
    color: #ffffff;
}

.btn-edit:hover {
    background-color: #aaaaaa;
}

.btn-delete:hover {
    background-color: #650000;
}

.sp {
    margin-bottom: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #051728;
    border: none;
    border-radius: 8px;
    padding: 12px 18px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #aaaaaa;
}

.voltar, .btn-cancel:hover {
    background-color: #890000;
    color: #ffffff;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.submit {
    display: flex;
}

/* Lista de aniversariantes */
.birthday-list {
    margin-top: 30px;
}

.birthday-item {
    background-color: #051728;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    max-width: 100%;
    width: 100%;
}

.birthday-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-wrapper img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.birthday-info {
    flex: 1;
    margin-left: 20px;
    margin-right: 50px;
}

.birthday-info p {
    margin-bottom: 8px;
}

.ajuste {
    position: absolute;
    right: 50px;
    top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
    .birthday-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .image-wrapper {
        margin-bottom: 15px;
    }

    .container {
        padding: 20px;
        min-width: 0%;
    }
}

/* Estilos específicos para o botão de compartilhar */
.btn-share {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-share:hover {
    background-color: #1DA851; /* Cor mais escura para o hover */
    color: #fff;
}

