@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;500;900 & display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    
    width: 100%;
    background: url('../imagens/log.svg') no-repeat;
    background-position: center center;
    background-size: cover;
   
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2); /* Defina a cor e a opacidade desejadas aqui */
}

.box{
    position: relative;
    width: 35%;
    height: 100vh;
    background:  #051728;;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza a logo */
    align-items: center;
}

.logo img {
    max-width: 100%; /* A imagem não excede a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
     /* Defina a largura desejada */
}


h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin: -15px 0 15px ;
    font-size: 1em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
button{
    color:rgb(0, 0, 0);
}

@media (max-width: 700px) {

    .box{
        width: 100%;
    }

}
