@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;500;900 & display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h2{
    size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

section {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    
    width: 100%;
    background: url('../imagens/Login.png') no-repeat;
    background-position: center center;
    background-size: cover;
   
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2); /* Defina a cor e a opacidade desejadas aqui */
}

.box{
    position: relative;
    width: 35%;
    height: 100vh;
    background:  #051728;;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
}

.logo {
    display: flex;
    justify-content: center; /* Centraliza a logo */
    align-items: center;
}
section {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    
    width: 100%;
    background: url('../imagens/bolo.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
   
}

.logo img {
    max-width: 100%; /* A imagem não excede a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
     /* Defina a largura desejada */
}


h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding:0 35px 0 5px;
    color: #fff;

}

input[type="date"] {
    
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none; /* Esconde o ícone de calendário padrão em navegadores WebKit */
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forget {
    margin: -15px 0 15px;
    font-size: 1.1em;
    color: #fff;
    display: flex;
    justify-content: center;  /* Alinha o conteúdo ao centro */
    align-items: center;
}

.forget label {
    display: flex;
    align-items: center; /* Alinha o checkbox com o texto verticalmente */
    gap: 5px; /* Espaço entre o checkbox e o texto */
}

.forget label input {
    margin-right: 5px; /* Espaço entre o checkbox e o texto */
}

.forget a {
    margin-left: 10px; /* Espaço entre o texto "Lembrar de mim" e o link */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.forget a:hover {
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: 1em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
button{
    color:rgb(0, 0, 0);
}

@media (max-width: 700px) {

    .box{
        width: 100%;
    }

}
.error {
    color: red; /* Cor do texto */
    background-color: #f8d7da; /* Fundo vermelho claro */
    border: 1px solid #f5c6cb; /* Borda vermelha */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaçamento abaixo */
    border-radius: 5px; /* Bordas arredondadas */
}

