<!DOCTYPE html>
<html lang="pt-br">
<head>
  <link rel="stylesheet" href="../static/CSS/cadastro.css"> <!-- Mantém o link para o CSS -->
  <title>Cadastro</title>
</head>
<body>
    <!-- Bloco para exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <section>
        <div class="back"></div>
        <div class="box">
            <div class="value">
                <form action="/cadastro" method="POST">  <!-- Rota de envio de dados -->
                    <div class="logo">
                        <a href="#">
                            <img src="../static/imagens/Logo.png" alt="Happy day dias preciosos">
                        </a>
                    </div>
                    <h2>Cadastre-se</h2>
                    <div class="inputbox">
                        <ion-icon name="mail"></ion-icon>
                        <input type="email" name="email" required>
                        <label for="Email">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="person-sharp"></ion-icon>
                        <input type="text" name="nome" required>
                        <label for="Nome">Nome</label>
                    </div>
                    <div class="inputbox">
                        <input type="date" name="data_nascimento" required>
                        <ion-icon name="calendar-number-sharp"></ion-icon>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed"></ion-icon>
                        <input type="password" name="senha" required>
                        <label for="Senha">Senha</label>
                    </div>
                    <button type="submit">Cadastre-se</button> <!-- Submete o formulário -->
                    <div class="register">
                        <p>Já tenho uma conta: <a href="/login">Logar</a></p>
                    </div>
                    
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
