<footer>
        <div class="footer-container">
            <p>&copy; 2024 - Lembretes de Aniversário. Todos os direitos reservados.</p>
    
            
            <p><a href="login.html">Home</a></p>
    
            
            <p>Compartilhe em suas redes sociais:</p>
    
            
            <div class="social-icons">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt="Facebook">
                </a>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Gmail">
                </a>
                <a href="https://www.threads.net" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/9052/9052729.png" alt="Threads">
                </a>
                <a href="https://web.whatsapp.com/" target="_blank">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp">
                </a>
            </div>
    
            <p>
                <a href="#">Política de Privacidade</a> | 
                <a href="#">Termos de Uso</a>
            </p>
            <p>Desenvolvido por <a href="#">Sua Equipe</a></p>
        </div>
    </footer>
