<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Aniversariantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Gerenciar.css') }}">
</head>

<body>
    <main>
        <div class="container">
            <div class="new">
                <button class="butnovo">Novo Aniversariante</button>
            </div>
            
            <h2>Lista de Aniversariantes</h2>
        
            <!-- O contêiner do novo aniversariante -->
            <div class="novo">
                <div class="form-container">
                    <form method="POST" action="/" enctype="multipart/form-data" class="birthday-form">
                        <h2>Criar Aniversariante</h2>
                        <div class="form-group">
                            <label for="nome">Nome do aniversariante</label>
                            <input type="text" name="nome" placeholder="Nome do aniversariante" required>
                            <label for="data_aniversario">Data de Aniversário</label>
                            <input type="date" name="data_aniversario" required>
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="Email" required>
                            <label for="telefone">Telefone</label>
                            <input type="tel" name="telefone" maxlength="15" placeholder="(XX) XXXXX-XXXX" required oninput="formatPhone(this)">
                            <label for="escolhas">Notificação</label>
                            <select name="escolhas" required>
                                <option value="No Dia">Somente no dia do aniversário</option>
                                <option value="1 Dia">1 Dia antes</option>
                                <option value="1 Semana">1 Semana antes</option>
                                <option value="2 Semanas">2 Semanas antes</option>
                                <option value="3 Semanas">3 Semanas antes</option>
                                <option value="1 mes">1 Mês antes</option>
                            </select>
                            <label for="felicitacoes">Felicitações</label>
                            <textarea name="felicitacoes" placeholder="Digite sua mensagem"></textarea>
                            <div class="container">
                                <input type="file" id="file-input" accept="image/png, image/jpeg" onchange="preview()">
                                <label for="file-input">
                                    <i class="fas fa-upload"></i> &nbsp; Escolher uma Foto
                                </label>
                                <p id="num-of-files">Nenhum arquivo escolhido</p>
                                <div id="images"></div>
                            </div>
                            <div class="submit">
                                <button type="submit" style="margin-right: 20px;">Salvar</button>
                                <button type="button" class="btn-cancel" onclick="window.location.href='/'" >Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
            <!-- Lista de aniversariantes -->
            <div class="birthday-list">
                {% for aniversariante in aniversariantes %}
                <div class="birthday-item">
                    <div class="birthday-info">
                        <p style="font-size: 25px;"><strong>Nome:</strong> {{ aniversariante[0] }}</p>
                        <p style="font-size: 25px;"><strong>Data de Aniversário:</strong> {{ aniversariante[1] }}</p>
                        <p><strong>Felicitações:</strong> {{ aniversariante[5] }}</p>
                        <p><strong>Email:</strong> {{ aniversariante[2] }}</p>
                        <p><strong>Telefone:</strong> {{ aniversariante[3] }}</p>
                        <p><strong>Notificação:</strong> {{ aniversariante[4] }}</p>
                        {% if aniversariante[6] %} <!-- Se a foto existir -->
                            <img src="{{ aniversariante[6] }}" alt="Foto de {{ aniversariante[0] }}" class="birthday-photo">
                        {% endif %}
                    </div>
                    <div class="action-buttons">
                        <div class="sp">
                            <form method="POST" action="/editar" class="form-edit">
                                <input type="hidden" name="nome_atual" value="{{ aniversariante[0] }}">
                                <button type="submit" class="btn-edit">
                                    <span>Editar</span>
                                </button>
                            </form>
                        </div>
                        <div class="sp">
                            <form method="POST" action="/" class="form-delete" onsubmit="return confirmDelete();">
                                <input type="hidden" name="nome_deletar" value="{{ aniversariante[0] }}">
                                <button type="submit" class="btn-delete">
                                    <span>Deletar</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
       
        
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
    <script>
        const form = document.querySelector('.novo');
        const button = document.querySelector('.butnovo');
        const fileInput = document.getElementById("file-input");
        button.addEventListener('click', () => {
    // Alterna entre mostrar e esconder o formulário ao clicar no botão
    if (form.style.display === 'none' || form.style.display === '') {
        form.style.display = 'flex';
        button.style.visibility = "hidden"; // Corrigido aqui
        // Adiciona a classe 'show' para iniciar a animação
        setTimeout(() => {
            form.classList.add('show');
        }, 10); // Aguarda um pequeno tempo para garantir que o display: flex tenha sido aplicado
    } else {
        form.classList.remove('show');
        button.style.visibility = "visible"; // Corrigido aqui
        // Remove o formulário após a animação
        setTimeout(() => {
            form.style.display = 'none';
        }, 500); // Aguarda a animação terminar antes de esconder
    }
});


        function preview() {
            const imageContainer = document.getElementById("images");
            const numOfFiles = document.getElementById("num-of-files");
            imageContainer.innerHTML = "";
            numOfFiles.textContent = `${fileInput.files.length} Files Selected`;

            for (i of fileInput.files) {
                let reader = new FileReader();
                let figure = document.createElement("figure");
                let figCap = document.createElement("figcaption");
                figCap.innerText = i.name;
                figure.appendChild(figCap);
                reader.onload = () => {
                    let img = document.createElement("img");
                    img.setAttribute("src", reader.result);
                    figure.insertBefore(img, figCap);
                }
                imageContainer.appendChild(figure);
                reader.readAsDataURL(i);
            }
        }
    </script>
</body>

</html>
