<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Gerenciar.css"> <!-- Link para o CSS externo -->
    <title>Happy day</title>
</head>

<body>
    <main>
        <div class="cont">
            <!-- Bloco pessoa -->
            <div class="pessoa">
                <form action="">
                    <div class="per">
                        <div style="display: flex;">
                            <div class="img-container">
                                <div class="img"></div>
                            </div>
                            <div class="dados">
                                <label>nome</label>
                                <h2 class="namef">Rafa Morrea</h2>
                                <div class="data">
                                    <div class="calen">
                                        <ion-icon name="calendar-outline"></ion-icon>
                                    </div>
                                    <div>
                                        <label for="">data</label>
                                        <h2 id="data-nascimento">20/05/2304</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="but">
                            <button class="btn-edit" type="button" id="open">
                                <p>Editar</p>
                                <ion-icon name="pencil-outline"></ion-icon>
                            </button>
                            <button type="button" id="view-btn">
                                <p>ver</p>
                                <ion-icon name="eye-outline"></ion-icon>
                            </button>
                        </div>
                    </div>
                    <div id="info-adicional" class="info-adicional" > <!-- Adicionamos ID e display none -->
                        <div class="inf">
                            <label for="mensagem">felicitações</label>
                            <textarea id="sel" rows="4" cols="1"></textarea>
                            
                        </div>
                        <div class="inf">
                            <label for="mensagem">Notificação </label>
                            <select id="escolhas" name="escolhas">
                                <option value="opcao1">1 Semana</option>
                                <option value="opcao2">2 Semanas</option>
                                <option value="opcao3">1 mês</option>
                            </select>
                        </div>
                        <div class="inf">
                            <label for="mensagem">Numero</label>
                            <input type="tel" id="mensagem">
                        </div>
                        <div class="inf">
                            <label for="mensagem">email</label>
                            <input type="text" id="mensagem">
                        </div>
                        <div class="apaga">
                            <button>Apagar</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="../js/Gerenciar.js"></script> <!-- Link para o arquivo JS externo -->
</body>

</html>
