<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/index.css">
    <title>Happy day</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="text">
                <div class="text1">
                    <h1>Crie sua agenda com suas datas comemorativas </h1>
                    <p>Nosso site foi criado para te ajudar a nunca mais esquecer uma data especial! você pode cadastrar
                        os
                        aniversários de amigos, familiares e colegas, recebendo lembretes personalizados por e-mail
                        Nunca
                        mais perca um aniversário importante com a nossa ajuda!</p>
                    <a href="/cadastro"><button>Comece agora</button></a>
                </div>
                
            </div>
            <div class="no">
                
            </div>
            <div class="vantagem">

                <div class="alinha">
                    <div class="circle" id="smile"><ion-icon name="happy-outline"></ion-icon></div>
                    <p>
                        Nosso site oferece uma solução completa para gerenciar e lembrar todas as datas especiais da sua
                        vida.
                    </p>
                </div>
                <div class="alinha">
                    <div class="circle"><ion-icon name="pricetags-outline"></ion-icon></ion-icon></div>
                    <p>
                        Economize ao nunca esquecer datas especiais e evitar compras de última hora com lembretes
                        automáticos e mensagens programadas.
                    </p>
                </div>
                <div class="alinha">
                    <div class="circle"><ion-icon name="calendar-outline"></ion-icon></ion-icon></div>
                    <p>
                        Planeje eventos facilmente, mantendo todas as datas importantes organizadas e garantindo
                        celebrações bem preparadas.
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>