<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/share.css">
    <title>Happy Day</title>
</head>
<body>
    <main>
        <div>
            <section>
                <div class="imagen">
                    <div class="border">
                        <div class="person"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="text">
                    <h1>{{ aniversariante.nome }}</h1>
                    <h6>{{ aniversariante.felicitacao }}</h6>
                </div>
            </section>
        </div>
        
        <!-- Botão de Compartilhar no WhatsApp -->
        <div class="share-button">
            <a href="https://wa.me/{{ aniversariante.telefone }}?text={{ aniversariante.felicitacao | urlencode }}"
               target="_blank"
               class="whatsapp-button">
                Compartilhar no WhatsApp
            </a>
        </div>
        
        <!-- Botão de Compartilhar via E-mail -->
        <div class="share-button email-button">
            <a href="mailto:?subject=Feliz%20Aniversário%20para%20{{ aniversariante.nome }}&body={{ aniversariante.felicitacao | urlencode }}"
               class="email-button">
                Compartilhar via E-mail
            </a>
        </div>

        <!-- Imagem ao final da main -->
        <img src="/static/imagens/Logo.png" alt="Imagem no final da main" class="final-img">
    </main>
    
    <footer>
    </footer>
</body>
</html>
