<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/share.css">
    <title>Happy day</title>
</head>
<style>
    

</style>
<body>
    <main>
        <div>
            <section>
                <div class="imagen">
                    <div class="border">
                        <div class="person"></div>
                    </div>
                </div>
            </section>
            <section>
                <div class="text">
                    <h1>Lucas Catem Vianna</h1>
                    <h6>Que o seu dia seja de muita celebração, abraços apertados e sorrisos sinceros ao lado das pessoas que você mais ama. Parabéns e um feliz aniversário! 🎉🎈</h6>
                </div>
            </section>
        </div>
        <!-- Imagem ao final da main -->
        <img src="/static/imagens/Logo.png" alt="Imagem no final da main" class="final-img">
    </main>
    
    <footer>

    </footer>
</body>
</html>